@mixin add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: -1px;
  color: #979ba5;
  border: 1px solid #dcdee5;

  &:hover {
    z-index: 99;
    cursor: pointer;
    border-color: #75afff;
  }

  .add-icon {
    font-size: 16px;
  }
}
@mixin query-editor {
  .query-editor {
    display: flex;
    width: 100%;
    margin: 0;

    &-label {
      display: flex;
      flex: 0 0 32px;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-right: 2px;
      color: white;
      cursor: pointer;
      background-color: #6395e7;
      border-radius: 2px;

      &.is-unchecked {
        color: #979ba5;
        background-color: #f5f6fa;
      }
    }

    &-content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      height: 100%;
      min-height: 32px;
    }

    &-tools {
      display: flex;
      flex: 0 0 24px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-left: 12px;
      font-size: 12px;
      color: #63656e;
      visibility: hidden;
      background-color: #f5f6fa;
      border-radius: 2px;

      &.multipe-metric {
        z-index: 999;
        display: flex;
        flex: 0 0 48px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 48px;
      }

      .source-icon {
        &:hover {
          color: #3a84ff;
          cursor: pointer;
        }
      }

      .delete-icon {
        &:hover {
          color: #ff5656;
          cursor: pointer;
        }
      }
    }

    &:hover {
      .query-editor-tools {
        visibility: visible;
      }
    }

    .svg-icon {
      width: 1em;
      height: 1em;
      margin: 0 4px;
      overflow: hidden;
      vertical-align: middle;
      fill: currentColor;
    }
  }

  .editor-form {
    display: flex;
    margin-bottom: 4px;

    &-label {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      min-width: 56px;
      height: 32px;
      padding: 0 16px;
      overflow: hidden;
      color: #313238;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: #e7e9ef;

      .label-tip {
        margin-right: -8px;
        margin-left: 8px;
        color: #979ba5;
        cursor: pointer;
      }
    }

    &-content {
      display: flex;
      flex: 1;
      min-height: 32px;
    }
  }

  .mitric-input {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 350px;
    height: 32px;
    background-color: #fffae4;

    &.copy-mode {
      width: 88px;
      min-width: 88px;
      background: white;

      .copy-mode-input {
        display: flex;
        align-items: center;
        width: 88px;
        height: 26px;
        padding-left: 8px;
        color: #63656e;
        cursor: pointer;
        background-color: #f0f1f5;
        border-radius: 2px;

        .fa-angle-down {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12px;
          height: 12px;
          margin-right: 12px;
          margin-left: auto;
          overflow: hidden;
          font-size: 12px;
          color: #979ba5;
        }
      }
    }

    &:hover {
      .copy-metric,
      .ant-cascader-picker-clear {
        opacity: 1;
      }
    }

    .ant-cascader-picker-clear {
      position: absolute;
      top: 50%;
      right: 12px;
      z-index: 2;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      font-size: 12px;
      line-height: 12px;
      color: rgba(0, 0, 0, 0.25);
      cursor: pointer;
      background: #fff;
      opacity: 0;
      transition:
        color 0.3s ease,
        opacity 0.15s ease;
    }

    .metric-label {
      color: #63656e;

      &-desc {
        color: #a2a4b3;
      }
    }

    &-search {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      background: transparent;
    }

    &-name {
      z-index: 1;
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      padding: 4px 11px;
      overflow: hidden;
      color: #bfbfbf;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 1px solid #dcdee5;
      .copy-metric {
        width: 14px;
        height: 16px;
        margin-left: auto;
        margin-right: 24px;
        cursor: pointer;
        fill: #3a84ff;
        opacity: 0;
      }
    }
  }

  .query-formula {
    min-width: 88px;
  }

  .interval-input {
    display: flex;

    .interval-select {
      flex: 0 0 70px;
      width: 70px;

      &:hover {
        z-index: 99;
      }
    }

    .interval-unit {
      display: flex;
      flex: 0 0 38px;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 32px;
      margin-left: -1px;

      .ant-select-selector,
      .ant-select-selection-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
    }
  }

  .dimension-input {
    min-width: 150px;
  }

  .condition-input {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    &-key {
      min-width: 100px;
      margin-bottom: 4px;
      margin-left: -1px;
    }

    &-method {
      min-width: 32px;
      margin-bottom: 4px;
      margin-left: -1px;
      font-weight: 700;
      color: #3a84ff;
    }

    &-value {
      min-width: 120px;
      max-width: 100%;
      margin-bottom: 4px;
      margin-left: -1px;

      .ant-select-selector {
        display: flex;
        flex-wrap: nowrap;
        min-height: 32px;
      }
    }

    &-condition {
      min-width: 50px;
      max-width: 50px;
      height: 32px;
      margin-bottom: 4px;
      margin-left: -1px;
      font-weight: 700;
      color: #ff9c01;

      .ant-select-selector,
      .ant-select-selection-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
    }

    &-add {
      margin-bottom: 4px;
      background-color: white;
      @include add-icon();
    }
  }

  .ant-select-selection-search-input {
    min-width: 10px !important;
  }

  .function-menu {
    display: flex;

    &-anchor {
      display: flex;
      align-items: center;
      width: 100px;
      height: 32px;
      padding: 0 6px;
      color: #c4c6cc;
      background: #fff;
      border: 1px solid #dcdee5;

      &:hover {
        cursor: pointer;
        border-color: #75afff;
      }
    }

    .menu-add {
      border-left: 1px solid #dcdee5;
      @include add-icon();
    }
  }

  .funtion-input {
    display: flex;
    align-items: center;
    min-width: 50px;
    height: 32px;
    padding: 0 10px;
    margin-left: -1px;
    border: 1px solid #dcdee5;

    &:hover {
      z-index: 99;
      color: #3a84ff;
      border-color: #75afff;
    }

    &-name {
      &:hover {
        cursor: pointer;
      }
    }

    &-param {
      &:hover {
        cursor: pointer;
      }
    }

    .param-input {
      width: 60px;
      max-width: 100%;
      padding: 2px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      box-shadow: none !important;
    }

    &-label {
      color: #63656e;
    }
  }

  .target-input {
    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      z-index: 99;
    }

    &-module,
    &-host,
    &-cluster {
      min-width: 100px;
      margin-left: -1px;
    }
  }

  .add-metric {
    width: 120px;
    margin-left: 34px;
    border-radius: 2px;
  }

  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
  }

  .ant-input-focused,
  .ant-input:focus {
    box-shadow: none !important;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }

  .ant-input-number-focused,
  .ant-input-number:focus {
    z-index: 99;
    box-shadow: none !important;
  }

  .ant-select.ant-select-focused,
  .ant-select:not(.ant-select-disabled):hover {
    .ant-select-selector {
      z-index: 99;
      box-shadow: none !important;
    }

    .ant-select-arrow {
      z-index: 100;
    }
  }
}

.funciton-menu-list {
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 0;

    .funciton-menu-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 12px;
    }
  }
}

.promql-editor {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 4px;

  &-instance {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 30px;
    border: 1px solid #dcdee5;

    .cm-editor {
      flex: 1;
    }
  }
}

.ant-cascader-menu {
  height: 296px;
}

.monitor-grafana {
  display: flex;
  width: 100%;
  margin-top: 4px;
  font-size: 12px;
  color: #63656e;

  @include query-editor();

  .transform-mode {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    color: #3a84ff;

    .search-play {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      margin-left: auto;
      font-size: 12px;
      color: #979ba5;
      cursor: pointer;
      background-color: white;
      border: 1px solid #c4c6cc;
      border-radius: 2px;

      .fa-play {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        overflow: hidden;
        font-size: 12px;
      }
    }

    .search-auto {
      min-width: 72px;
      height: 26px;
      margin-left: 2px;
      cursor: pointer;

      &.is-loading {
        color: white;
        cursor: not-allowed;
        background: #a3c5fd;
        border: none;
      }
    }

    .icon-wrap {
      display: flex;
      align-items: center;
      margin-left: 24px;
      cursor: pointer;

      .fa-exchange {
        display: flex;
        margin-right: 3px;
      }

      &.is-loading {
        color: #c4c6cc;
        cursor: not-allowed;
      }
    }
  }

  .addvance-setting {
    display: flex;
    flex-direction: column;

    &-title {
      display: flex;
      flex: 0 0 16px;
      align-items: center;
      height: 16px;
      margin: 12px 0;

      .fa-angle-down {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        font-size: 16px;
        transition: all ease-in-out 0.3s;
        transform: rotate(-90deg);

        &.is-open {
          transform: rotate(0deg);
        }
      }

      .header-content {
        display: flex;
        align-items: center;
        color: #979ba5;

        &-item {
          margin-left: 24px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-content {
      flex: 1;

      &.is-hidden {
        display: none;
      }
    }
  }
  .down-sample-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border: 1px solid #dcdee5;
  }
}

.key-del {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 15px;
  margin-bottom: -4px;

  &:hover {
    color: #1890ff;
    cursor: pointer;
  }
}

.function-menu {
  position: relative;
  display: flex;

  &-anchor {
    display: flex;
    flex: 1;
    cursor: pointer;

    .menu-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 24px;
      color: #979ba5;
      border: 1px solid #dcdee5;
      border-radius: 0;

      &:hover {
        z-index: 9;
        color: #3a84ff;
        background-color: white;
        border-color: #75afff;
      }
    }

    .bk-form-input {
      /* stylelint-disable-next-line declaration-no-important */
      background-color: white !important;

      /* stylelint-disable-next-line declaration-no-important */
      border-color: #dcdee5 !important;
      border-radius: 0;
    }
  }
}

.function-menu-panel {
  display: flex;
  flex-direction: column;
  width: 578px;
  height: 274px;
  margin: -12px -16px;
  color: #63656e;
  background: #fff;
  opacity: 1;

  .panel-search {
    flex: 0 0 32px;
    width: calc(100% - 24px);
    margin: 0 12px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none !important;
  }

  .panel-list {
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 242px;
    padding-top: 6px;

    .panel-item {
      display: flex;
      flex: 0 0 128px;
      flex-direction: column;
      width: 128px;
      padding: 6px 0;
      overflow: auto;
      border-right: 1px solid #dcdee5;

      .list-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        min-height: 32px;
        padding-left: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .arrow-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          margin-left: auto;
          font-size: 24px;
        }

        &.item-active,
        &:hover {
          color: #3a84ff;
          cursor: pointer;
          background-color: #f4f6fa;
        }
      }
    }

    .panel-desc {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;
      padding: 12px 10px;
      color: #c4c6cc;

      .desc-title {
        display: flex;
        flex: 0 0 32px;
        align-items: center;
        color: #63656e;
      }

      .desc-content {
        display: flex;
        flex: 1;
        color: #c4c6cc;
      }
    }
  }
}

.target-select-all {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 5px 12px;

  &:hover {
    cursor: pointer;
    background: #f0f8ff;
  }
}

.select-list {
  display: flex;
  flex-direction: column;
  max-height: 256px;
  overflow-y: auto;
  overflow-anchor: none;

  &-item {
    display: flex;
    flex: 0 0 32px;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }

    &.active {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.65);
      background-color: #f0f8ff;
    }

    .anticon-check {
      width: 12px;
      height: 12px;
      margin-left: auto;
      color: #4c90ff;
      user-select: none;
    }
  }
}

.monitor-tooltip {
  padding: 8px;
  font-weight: 500;
  color: #e9edf2;
  // .ant-tooltip-inner {
  //   background: #3274d9;
  // }
  // .ant-tooltip-arrow {
  //   &::before {
  //     background-color: #3274d9;
  //   }
  //   .ant-tooltip-arrow-content {
  //     background: #3274d9;
  //   }
  // }
}

.ant-tooltip {
  max-width: 600px !important;
}

.inite-wrapper {
  display: flex;
  width: 100%;
  height: 150px;
}

.rc-virtual-list-scrollbar {
  width: 4px !important;

  .rc-virtual-list-scrollbar-thumb {
    background-color: rgb(165, 165, 165) !important;
  }
}

.target-input-cluster-dropdown {
  width: auto !important;
  min-width: 100px !important;
  // .target-dropdown-list:last-child div div {
  //   position: static !important;
  //   top: auto !important;
  //   left: auto !important;
  //   right: auto !important;
  // }
}
// .ant-tooltip-arrow-content {
//   --antd-arrow-background-color: #3274d9
// }
.popover-metric-title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.popover-metric-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.ant-cascader-menu {
  height: 296px !important;
}

.metric-dropdown {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 452px;
  font-size: 12px;

  &-input {
    display: flex;
    align-items: center;
    padding: 12px 16px 0px;
    @keyframes rowup {
      0% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(180deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .reflesh-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      font-size: 14px;
      color: #3a84ff;
      transition: all 0.3s;

      &.reflesh-pendding {
        animation: 1s rowup linear infinite normal;
      }

      &:hover {
        color: #699df4;
        cursor: pointer;
      }
    }
  }

  &-tag {
    &.tab-empty {
      min-height: 42px;
      border-bottom: 1px solid #dcdee5;
    }

    .tab-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      padding: 0 10px;
      color: #63656e;
      background: #f0f1f5;
      border: 1px solid transparent;
      border-radius: 2px;

      &:hover {
        color: #3a84ff;
        cursor: pointer;
        background-color: #edf4ff;
        border-color: rgba(58, 132, 255, 0.3);
      }
    }

    .ant-tabs-top {
      height: auto !important;
    }

    .ant-tabs-tab {
      padding: 8px 0 12px 0;
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0 0 0 6px;
    }

    .ant-tabs-tab.ant-tabs-tab-active .tab-tag {
      color: #3a84ff;
      background-color: #edf4ff;
      border-color: rgba(58, 132, 255, 0.3);
    }

    .ant-tabs-nav {
      padding-left: 16px;
      margin-bottom: 0;
    }

    .ant-tabs-content-holder {
      display: none;
    }

    .ant-tabs-ink-bar {
      display: none;
    }
  }

  &-content {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    .content-list {
      flex: 1;
      max-height: 366px;
      margin: 0;
      overflow: auto;
      background-color: white;

      .all-data {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        color: #979ba5;
      }
    }
    .metric-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 52px;
      padding: 0 16px;
      line-height: 22px;
      position: relative;

      &-title {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 100%;
        height: 22px;
        font-size: 12px;
        line-height: 22px;

        .title-wrap {
          flex: 1;
          height: 22px;
          overflow: hidden;
          line-height: 22px;
          text-overflow: ellipsis;
          white-space: nowrap;

          .title-name {
            // display: inline-flex;
            align-items: center;
            height: 22px;
            margin-right: 8px;
            font-size: 14px;
            font-weight: bold;
          }
        }

        .copy-icon {
          display: inline-flex;
          flex: 0 0 24px;
          align-items: center;
          justify-content: center;
          margin-right: auto;
          position: absolute;
          background: #fff;
          border-radius: 2px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          height: 24px;
          width: 24px;
          right: 16px;
          top: 10px;

          svg {
            width: 16px;
            height: 16px;
            fill: #3a84ff;
          }
        }
        // .title-alias {
        //   display: inline-flex;
        //   align-items: center;
        //   margin-left: 8px;
        //   font-size: 12px;
        //   height: 22px;
        // }
      }

      &-subtitle {
        display: flex;
        align-items: center;
        height: 20px;
        font-size: 12px;
        color: #979ba5;
        white-space: nowrap;
      }
      .metric-selected {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: #3a84ff;
        color: white;
        position: absolute;
        width: 54px;
        height: 54px;
        top: -27px;
        transform: rotate(45deg) scale(0.8);
        right: -27px;
        font-size: 12px;
        &-lable {
          transform: scale(0.8);
        }
      }
      &.focus-item {
        cursor: none;
        background-color: #f5f7fa;
      }

      &.is-checked {
        background-color: #e1ecff !important;
      }

      &:not(.is-arrow) {
        &:hover {
          cursor: pointer;
          background-color: #e1ecff;
        }
      }

      &.is-arrow {
        cursor: none;
      }
    }

    .more-loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 6px 0;
    }

    .content-tag {
      display: flex;
      flex: 0 0 160px;
      flex-direction: column;
      width: 160px;
      max-height: 366px;
      padding-top: 8px;
      overflow: auto;
      background: #fafbfd;
      border-left: 1px solid #dcdee5;

      &-title {
        display: flex;
        align-items: center;
        height: 20px;
        margin: 0 8px 16px 16px;
      }

      &-list {
        display: flex;
        flex-direction: column;

        .list-item {
          position: relative;
          display: flex;
          align-items: center;
          margin: 0 12px 12px 16px !important;
          color: #979ba5;

          &-count {
            position: absolute;
            right: 0;
            display: inline-flex;
            margin-left: auto;
            color: #c4c6cc;
          }
        }

        .ant-checkbox-input,
        .ant-checkbox-inner {
          top: -3px !important;
        }
      }
    }

    .empty-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 80px;
      }

      &-title {
        display: flex;
        margin-top: 14px;
        font-size: 16px;
        line-height: 22px;
        color: #63656e;
      }

      &-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8px 0;
        font-size: 12px;
        font-size: 12px;
        line-height: 22px;
        color: #979ba5;
      }

      .text-btn {
        display: inline-flex;
        margin-left: 6px;
        color: #3a84ff;
        cursor: pointer;
      }
    }

    .is-keyword {
      display: inline-flex;
      color: #3a84ff;
    }

    .ant-checkbox-checked:after {
      border: 0 !important;
    }
  }

  .content-spin {
    flex: 1;
    height: 100%;

    .ant-spin-container {
      height: 100%;
    }
  }

  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;

    .ant-spin-container {
      width: 100%;
      height: 100%;
    }
  }
}

.mitric-input-popover {
  .ant-popover-inner-content {
    padding: 0;
    background-color: #fafbfd;
  }
}

.ant-message {
  z-index: 99999 !important;
}

body {
  &.theme-dark {
    $monitor-font-color: #ccccdc;
    $monitor-bg-color: #111217;
    $monitor-border-color: #2c2d36;
    $monitor-label-bg-color: #22252b;
    $monitor-metric-bg-color: #282b31;

    .variable-editor,
    .monitor-grafana {
      color: $monitor-font-color !important;
      background-color: $monitor-bg-color !important;

      .variable-line-label {
        color: $monitor-font-color !important;
        background: $monitor-label-bg-color !important;
      }

      .function-menu-anchor,
      .condition-input-add,
      .search-play {
        color: #63656e !important;
        background: #191b1f !important;
        border-color: $monitor-border-color !important;
      }

      .query-editor-label {
        background-color: #1d417e !important;
      }

      .editor-form-label {
        color: $monitor-font-color !important;
        background-color: $monitor-label-bg-color !important;
      }

      .mitric-input {
        background-color: $monitor-bg-color !important;

        &-name {
          border-color: $monitor-border-color !important;
        }

        .metric-label {
          color: $monitor-font-color !important;
        }
      }

      .promql-editor-instance {
        background-color: $monitor-bg-color !important;
        border-color: $monitor-border-color !important;
      }

      .copy-mode-input {
        color: #eaebf0;
        background-color: $monitor-bg-color !important;
        border: 1px solid $monitor-border-color !important;
      }

      .query-editor-tools {
        color: #eaebf0 !important;
        background-color: #35383d !important;
        border: 1px solid $monitor-border-color !important;
      }

      .mitric-input .ant-cascader-picker-clear {
        color: #63656e !important;
        background-color: transparent !important;
      }

      .menu-add,
      .funtion-input {
        border-color: $monitor-border-color !important;
      }
    }

    .metric-dropdown-tag .tab-tag {
      color: #eaebf0 !important;
      background-color: $monitor-metric-bg-color !important;
      border: 1px solid $monitor-metric-bg-color !important;
    }

    .ant-popover-inner-content {
      background-color: $monitor-bg-color !important;
      border: 1px solid $monitor-border-color !important;

      .content-list {
        background-color: $monitor-bg-color !important;
      }

      .focus-item {
        background-color: $monitor-metric-bg-color !important;
      }

      .content-tag {
        background-color: $monitor-bg-color !important;
        border-left: 1px solid $monitor-metric-bg-color !important;
      }
    }

    .function-menu-panel {
      color: #eaebf0 !important;
      background-color: $monitor-bg-color !important;
      border: 1px solid $monitor-border-color !important;

      .list-item {
        &.item-active,
        &:hover {
          color: #3a84ff !important;
          cursor: pointer !important;
          background-color: $monitor-metric-bg-color !important;
        }
      }

      .panel-item {
        border-right-color: $monitor-border-color !important;
      }
    }

    .ant-tabs-nav::before {
      border-bottom-color: $monitor-border-color;
    }

    .ant-tooltip-inner {
      border: 1px solid $monitor-metric-bg-color !important;
    }

    .ant-select-dropdown {
      border: 1px solid $monitor-metric-bg-color !important;
    }

    .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      color: #eaebf0 !important;
      background-color: $monitor-bg-color !important;
      border: 1px solid $monitor-border-color !important;
    }

    .metric-dropdown-content .content-list .metric-item:not(.is-arrow):hover,
    .metric-dropdown-content .content-list .metric-item.is-checked {
      background-color: $monitor-metric-bg-color !important;
    }

    .cm-content {
      caret-color: white !important;
    }
  }

  &.theme-light {
    background-color: #f4f5f5 !important;
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: color 0.3s;
    text-decoration-skip: objects;
  }

  a:hover {
    color: inherit;
  }

  a:active {
    color: #366fd9;
  }
}
