a {
  color: #ccccdc;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #ccccdc;
}
a:active {
  color: #366fd9;
}
body {
  color: #ccccdc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #ccccdc;
  font-weight: 500;
}
