@mixin add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #dcdee5;
  color: #979ba5;
  margin-left: -1px;
  &:hover {
    z-index: 99;
    cursor: pointer;
    border-color: #75afff;
  }
  .add-icon {
    font-size: 16px;
  }
}
@mixin query-editor {
  .query-editor {
    display: flex;
    width: 100%;
    margin: 0;
    &-label {
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      background-color: #6395e7;
      margin-right: 2px;
      color: white;
      cursor: pointer;
      &.is-unchecked {
        background-color: #f5f6fa;
        color: #979ba5;
      }
    }
    &-content {
      flex: 1;
      display: flex;
      height: 100%;
      min-height: 32px;
      flex-wrap: wrap;
    }
    &-tools {
      flex: 0 0 24px;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #f5f6fa;
      border-radius: 2px;
      margin-left: 12px;
      font-size: 12px;
      color: #63656e;
      display: flex;
      visibility: hidden;
      &.multipe-metric {
        display: flex;
        width: 48px;
        flex: 0 0 48px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        z-index: 999;
      }
      .source-icon {
        &:hover {
          cursor: pointer;
          color: #3a84ff;
        }
      }
      .delete-icon {
        &:hover {
          cursor: pointer;
          color: #ff5656;
        }
      }
    }
    &:hover {
      .query-editor-tools {
        visibility: visible;
      }
    }
    .svg-icon {
      margin: 0 4px;
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
    }
  }
  .editor-form {
    display: flex;
    margin-bottom: 4px;
    &-label {
      min-width: 56px;
      padding: 0 16px;
      height: 32px;
      display: flex;
      align-items: center;
      background-color: #e7e9ef;
      color: #313238;
      .label-tip {
        margin-right: -8px;
        margin-left: 8px;
        color: #979ba5;
        cursor: pointer;
      }
    }
    &-content {
      flex: 1;
      min-height: 32px;
      display: flex;
    }
  }
  .mitric-input {
    display: flex;
    min-width: 350px;
    background-color: #fffae4;
    width: 100%;
    position: relative;
    height: 32px;
    &.copy-mode {
      background: white;
      width: 88px;
      min-width: 88px;
      .copy-mode-input {
        display: flex;
        align-items: center;
        background-color: #F0F1F5;
        border-radius: 2px;
        width: 88px;
        height: 26px;
        padding-left: 8px;
        color: #63656e;
        cursor: pointer;
        .fa-angle-down {
          margin-left: auto;
          color: #979BA5;
          font-size: 12px;
          width: 12px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          margin-right: 12px;
        }
      }
    }
    &:hover {
      .ant-cascader-picker-clear {
        opacity: 1;
      }
    }
    .ant-cascader-picker-clear {
      position: absolute;
      top: 50%;
      right: 12px;
      z-index: 2;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      color: rgba(0,0,0,.25);
      font-size: 12px;
      line-height: 12px;
      background: #fff;
      cursor: pointer;
      opacity: 0;
      transition: color .3s ease,opacity .15s ease;
    }
    .metric-label {
      color: #63656e;
      &-desc {
        color: #a2a4b3;
      }
    }
    &-search {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 32px;
      align-items: center;
      z-index: 2;
      background: transparent;
    }
    &-name {
      width: 100%;
      display: flex;
      align-items: center;
      height: 32px;
      z-index: 1;
      padding: 4px 11px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #bfbfbf;
      border: 1px solid #dcdee5;
    }
  }
  .query-formula {
    min-width: 88px;
  }
  .interval-input {
    display: flex;
    .interval-select {
      width: 70px;
      flex: 0 0 70px;
      &:hover {
        z-index: 99;
      }
    }
    .interval-unit {
      width: 38px;
      flex: 0 0 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -1px;
      height: 32px;
      .ant-select-selector,
      .ant-select-selection-item {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .dimension-input {
    min-width: 150px;
  }
  .condition-input {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    &-key {
      min-width: 100px;
      margin-left: -1px;
      margin-bottom: 4px;
    }
    &-method {
      min-width: 32px;
      color: #3a84ff;
      font-weight: 700;
      margin-left: -1px;
      margin-bottom: 4px;
    }
    &-value {
      min-width: 120px;
      max-width: 100%;
      margin-left: -1px;
      margin-bottom: 4px;
      .ant-select-selector {
        display: flex;
        flex-wrap: nowrap;
        min-height: 32px;
      }
    }
    &-condition {
      min-width: 46px;
      max-width: 46px;
      height: 32px;
      color: #ff9c01;
      font-weight: 700;
      margin-left: -1px;
      margin-bottom: 4px;
      .ant-select-selector,
      .ant-select-selection-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
    }
    &-add {
      @include add-icon();
      margin-bottom: 4px;
    }
  }
  .ant-select-selection-search-input {
    min-width: 10px !important;
  }
  .function-menu {
    display: flex;
    &-anchor {
      width: 100px;
      height: 32px;
      background: #fff;
      border: 1px solid #dcdee5;
      display: flex;
      align-items: center;
      padding: 0 6px;
      color: #c4c6cc;
      &:hover {
        cursor: pointer;
        border-color: #75afff;
      }
    }
    .menu-add {
      @include add-icon();
      border-left: 1px solid #dcdee5;
    }
  }
  .funtion-input {
    display: flex;
    align-items: center;
    height: 32px;
    min-width: 50px;
    padding: 0 10px;
    border: 1px solid #dcdee5;
    margin-left: -1px;
    &:hover {
      color: #3a84ff;
      border-color: #75afff;
      z-index: 99;
    }
    &-name {
      &:hover {
        cursor: pointer;
      }
    }
    &-param {
      &:hover {
        cursor: pointer;
      }
    }
    .param-input {
      padding: 2px;
      max-width: 100%;
      width: 60px;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      box-shadow: none !important;
    }
    &-label {
      color: #63656e;
    }
  }
  .target-input {
    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      z-index: 99;
    }
    &-module,
    &-host,
    &-cluster {
      min-width: 100px;
      margin-left: -1px;
    }
  }
  .add-metric {
    width: 120px;
    margin-left: 34px;
    border-radius: 2px;
  }
  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
  }
  .ant-input-focused,
  .ant-input:focus {
    box-shadow: none !important;
  }
  .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-input-number-focused,
  .ant-input-number:focus {
    z-index: 99;
    box-shadow: none !important;
  }
  .ant-select.ant-select-focused,
  .ant-select:not(.ant-select-disabled):hover {
    .ant-select-selector {
      z-index: 99;
      box-shadow: none !important;
    }
    .ant-select-arrow {
      z-index: 100;
    }
  }
}

.funciton-menu-list {
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 0;
    .funciton-menu-item {
      display: flex;
      align-items: center;
      padding: 5px 12px;
      width: 100%;
    }
  }
}
.promql-editor {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
  &-instance {
    width: 100%;
    height: 100%;
    min-height: 30px;
    display: flex;
    flex: 1;
    border: 1px solid #dcdee5;
    .cm-editor {
      flex: 1;
    }
  }
}
.ant-cascader-menu {
  height: 296px;
}
.monitor-grafana {
  display: flex;
  width: 100%;
  margin-top: 4px;
  font-size: 12px;
  color: #63656e;

  @include query-editor();
  .transform-mode {
    display: flex;
    width: 100%;
    align-items: center;
    color: #3A84FF;
    margin: 12px 0;
    .search-play {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 26px;
      width: 26px;
      border: 1px solid #C4C6CC;
      border-radius: 2px;
      background-color: white;
      color: #979BA5;
      margin-left: auto;
      cursor: pointer;
      font-size: 12px;
      .fa-play {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        overflow: hidden;
        width: 12px;
        height: 12px;
      }
    }
    .search-auto {
      width: 72px;
      height: 26px;
      margin-left: 2px;
      cursor: pointer;
      &.is-loading {
        background: #A3C5FD;
        color: white;
        cursor: not-allowed;
        border: none;
      }
    }
    .icon-wrap {
      display: flex;
      margin-left: 24px;
      align-items: center;
      cursor: pointer;
      .fa-exchange {
        display: flex;
        margin-right: 3px;
      }
      &.is-loading {
        color: #C4C6CC;
        cursor: not-allowed;
      }
    }
  }
  .addvance-setting {
    display: flex;
    flex-direction: column;
    &-title {
      display: flex;
      align-items: center;
      flex: 0 0 16px;
      height: 16px;
      margin: 12px 0;
      .fa-angle-down {
        margin-right: 6px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-90deg);
        transition: all ease-in-out .3s;
        &.is-open {
          transform: rotate(0deg);
        }
      }
      .header-content {
        display: flex;
        align-items: center;
        color: #979BA5;
        &-item {
          margin-left: 24px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-content {
      flex: 1;
      &.is-hidden {
        display: none;
      }
    }
  }
}
.key-del {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 32px;
  margin-bottom: -4px;
  &:hover {
    cursor: pointer;
    color: #1890ff;
  }
}
.function-menu {
  display: flex;
  position: relative;
  &-anchor {
    display: flex;
    flex: 1;
    cursor: pointer;
    .menu-icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border: 1px solid #dcdee5;
      border-radius: 0;
      color: #979ba5;
      &:hover {
        color: #3a84ff;
        border-color: #75afff;
        background-color: white;
        z-index: 9;
      }
    }
    .bk-form-input {
      /* stylelint-disable-next-line declaration-no-important */
      border-color: #dcdee5 !important;
      border-radius: 0;

      /* stylelint-disable-next-line declaration-no-important */
      background-color: white !important;

    }
  }
}
.function-menu-panel {
  color: #63656e;
  display: flex;
  flex-direction: column;
  width: 578px;
  height: 274px;
  opacity: 1;
  background: #fff;
  margin: -12px -16px;
  .panel-search {
    width: calc(100% - 24px);
    flex: 0 0 32px;
    margin: 0 12px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none !important;
  }
  .panel-list {
    flex: 1;
    max-height: 242px;
    display: flex;
    width: 100%;
    padding-top: 6px;
    .panel-item {
      flex: 0 0 128px;
      width: 128px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      padding: 6px 0;
      border-right: 1px solid #dcdee5;
      .list-item {
        display: flex;
        width: 100%;
        height: 32px;
        min-height: 32px;
        align-items: center;
        padding-left: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .arrow-icon {
          font-size: 24px;
          display: flex;
          width: 24px;
          height: 24px;
          align-items: center;
          justify-content: center;
          margin-left: auto;
        }
        &.item-active,
        &:hover {
          background-color: #f4f6fa;
          color: #3a84ff;
          cursor: pointer;
        }
      }
    }
    .panel-desc {
      display: flex;
      flex: 1;
      height: 100%;
      color: #c4c6cc;
      flex-direction: column;
      padding: 12px 10px;
      .desc-title {
        flex: 0 0 32px;
        display: flex;
        align-items: center;
        color: #63656e;
      }
      .desc-content {
        flex: 1;
        display: flex;
        color: #c4c6cc;
      }
    }
  }
}
.target-select-all {
  height: 32px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    background: #f0f8ff;
  }
}
.select-list {
  display: flex;
  flex-direction: column;
  max-height: 256px; 
  overflow-y: auto; 
  overflow-anchor: none;
  &-item {
    display: flex;
    flex: 0 0 32px;
    height: 32px;
    color: rgba(0,0,0,.65);
    align-items: center;
    padding: 0 12px;
    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }
    &.active {
      color: rgba(0,0,0,.65);
      font-weight: 600;
      background-color: #f0f8ff;
    }
    .anticon-check {
      margin-left: auto;
      width: 12px;
      height: 12px;
      color: #4c90ff;
      user-select: none;
    }
  }
}
.monitor-tooltip {
  color: #e9edf2;
  padding: 8px;
  font-weight: 500;
  // .ant-tooltip-inner {
  //   background: #3274d9;
  // }
  // .ant-tooltip-arrow {
  //   &::before {
  //     background-color: #3274d9;
  //   }
  //   .ant-tooltip-arrow-content {
  //     background: #3274d9;
  //   }
  // }
}
.ant-tooltip {
  max-width: 600px !important;
}
.inite-wrapper {
  display: flex;
  width: 100%;
  height: 150px;
}
.rc-virtual-list-scrollbar {
  width: 4px !important;
  .rc-virtual-list-scrollbar-thumb {
    background-color: rgb(165, 165, 165) !important;
  }
}
.target-input-cluster-dropdown {
  width: auto !important;
  min-width: 100px !important;
  // .target-dropdown-list:last-child div div {
  //   position: static !important; 
  //   top: auto !important;
  //   left: auto !important;
  //   right: auto !important;
  // }
}
// .ant-tooltip-arrow-content {
//   --antd-arrow-background-color: #3274d9
// }
.popover-metric-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-bottom: 6px;
}
.popover-metric-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
  line-height: 20px;
}
.ant-cascader-menu {
  height: 296px !important;
}
.metric-dropdown {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 452px;
  font-size: 12px;
  &-input {
    padding: 12px 16px 0px;
  }
  &-tag {
    &.tab-empty {
      min-height: 42px;
      border-bottom: 1px solid #dcdee5;
    }
    .tab-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      background: #f0f1f5;
      padding: 0 10px;
      border: 1px solid transparent;
      color: #63656e;
      height: 22px;
      &:hover {
        border-color: rgba(58,132,255,.30);
        background-color: #edf4ff;
        color: #3a84ff;
        cursor: pointer;
      }
    }
    .ant-tabs-top {
      height: auto !important;
    }
    .ant-tabs-tab {
      padding: 8px 0 12px 0;
    }
    .ant-tabs-tab+.ant-tabs-tab {
      margin: 0 0 0 6px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .tab-tag {
      border-color: rgba(58,132,255,.30);
      background-color: #edf4ff;
      color: #3a84ff;
    }
    .ant-tabs-nav {
      margin-bottom: 0;
      padding-left: 16px;
    }
    .ant-tabs-content-holder {
      display: none;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
  }
  &-content {
    display: flex;
    width: 100%;
    flex: 1;
    height: 100%;
    .content-list {
      flex: 1;
      max-height: 366px;
      overflow: auto;
      background-color: white;
      margin: 0;
      .metric-item {
        display: flex;
        flex-direction: column;
        height: 52px;
        justify-content: center;
        line-height: 22px;
        padding: 0 16px;
        &-title {
          display: flex;
          height: 22px;
          line-height: 22px;
          align-items: center;
          max-width: 100%;
          font-size: 12px;
          height: 22px;
          position: relative;
          .title-wrap {
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            .title-name {
              margin-right: 8px;
              // display: inline-flex;
              align-items: center;
              font-size: 14px;
              font-weight: bold;
              height: 22px;
            }
          }
          .copy-icon {
            display: inline-flex;
            width: 16px;
            height: 16px;
            align-items: center;
            justify-content: center;
            margin-right: auto;
            flex: 0 0 16px;
            svg {
              fill: #3a84ff;
              width: 16px;
              height: 16px;
            }
          }
          // .title-alias {
          //   display: inline-flex;
          //   align-items: center;
          //   margin-left: 8px;
          //   font-size: 12px;
          //   height: 22px;
          // }
        }
        &-subtitle {
          height: 20px;
          display: flex;
          align-items: center;
          color: #979ba5;
          font-size: 12px;
        }
        &.focus-item {
          background-color: #f5f7fa;
          cursor: none;
        }
        &:not(.is-arrow) {
          &:hover {
            background-color: #e1ecff;
            cursor: pointer;
          }
        }
        &.is-arrow {
          cursor: none;
        }
      }
      .more-loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 6px 0;
      }
      .all-data {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #979ba5;
        height: 44px;
      }
    }
    .content-tag {
      flex: 0 0 160px;
      width: 160px;
      display: flex;
      flex-direction: column;
      background: #fafbfd;
      border-left: 1px solid #dcdee5;
      max-height: 366px;
      overflow: auto;
      padding-top: 8px;
      &-title {
        display: flex;
        margin: 0 8px 16px 16px;
        height: 20px;
        align-items: center;
      }
      &-list {
        display: flex;
        flex-direction: column;
        .list-item {
          display: flex;
          align-items: center;
          margin: 0 12px 12px 16px !important;
          color: #979ba5;
          position: relative;
          &-count {
            color: #c4c6cc;
            display: inline-flex;
            margin-left: auto;
            position: absolute;
            right: 0;
          }
        }
        .ant-checkbox-input,
        .ant-checkbox-inner {
          top: -3px !important
        }
      }
    }
    .empty-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 120px;
      }
      &-title {
        display: flex;
        margin-top: 14px;
        font-size: 16px;
        color: #63656e;
        line-height: 22px;
      }
      &-subtitle {
        display: flex;
        font-size: 12px;
        line-height: 22px;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        .text-btn {
          display: inline-flex;
          margin-left: 6px;
          color: #3a84ff;
          cursor: pointer;
        }
      }
    }
    .is-keyword {
      display: inline-flex;
      color: #3a84ff;
    }
    .ant-checkbox-checked:after {
      border: 0 !important;
    }
  }
  .content-spin {
    flex: 1;
    height: 100%;
    .ant-spin-container {
      height: 100%;
    }
  }
  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
    .ant-spin-container {
      width: 100%;
      height: 100%;
    }
  }
}
.mitric-input-popover {
  .ant-popover-inner-content {
    padding: 0;
    background-color: #fafbfd;
  }
}
.ant-message {
  z-index: 99999 !important;
}
body {
  &.theme-dark {
    background-color: #111217 !important;
    h1, h2, h3, h4, h5, h6 { 
      color: #63656e;
    }
  }
  &.theme-light {
    background-color: #f4f5f5 !important;
  }
}